<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="m2e-wtp-e36" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.6.0.v20100503-9I7VGAeG8tz-BY6jz0w2HLRYr"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.2.2.v201008170019-377AB8s73533J5H335L"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.2.2.v201008170019-377AB8s73533J5J759F"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.2.2.v201008190400-7b7GHf2FSK2WBLQ2D-mrubYEOrRh"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.2.2.v201008100100-7O7CFbKEMf84nUlEJyX7-SPQjhYZ"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.2.2.v201008170029-7H7AFUQDxumQGOpBqffOY2f1qxDZ"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.1.2.v201009091745-7S7WFAPFIpS-1-NbCE6tnacCXKP"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.2.2.v201008170101-7C78FGMF9JgLWLMUUEMtXc"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.2.2.v201008231400-7E7I6F9JgLWLMUW3"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.0.v201005241530-5--AkF7B77NBZBgBg"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.0.1.v201008232129-7E777CF8NcJSSK-UBTwXn"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.2.2.v20100818b-777HFGRCcNBDiBjIbhBA8"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.2.2.v20100908-7A5FEi9xFc7RCJMToAIOJC43A"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.2.2.v201008170029-7F77FJSC25Tkdy1nqglPjqLAoDgh"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.1.v20100906-4609oB5855L6N"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.0.v201005241510-51EoAkF77g8HBSc"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.2.20110117_1743-b492ddb-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="0.13.0.201101281731"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.13.0.201101281731"/>
<repository location="http://repository.sonatype.org/content/sites/forge-sites/m2e/0.13.0/N/0.13.0.201101281731/"/>
</location>
</locations>
</target>
